img{
    width: 600px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

form{
    align-items: center;
}

input{
    font-size: 20px;
    font-family: sans-serif;
    display: block;
    margin: auto;
}

#mysearchbar{
    width: 600px;
    border-radius: 100px;
    border-width: 1px;
    margin-top: ;
}

#links{
    text-align: right;
    margin-right: 5px;
	margin-left: 5px;
}
